# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [2]:
# type your code here
name = "Areeb"
age = 10
Marks = 85.5
boolean = True
print(f"Student Name is {name}, his age {age}, Total Marks {Marks} and this is all {boolean}")

Student Name is Areeb, his age 10, Total Marks 85.5 and this is all True

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [6]:
# type your code here
name = "Areeb"
age = 10
Marks = 85.5
boolean = True
print("Student Name is " + name, "his age " + str (age), "Total Marks " + str (Marks),"this is all " + str (boolean), sep= "-")

Student Name is Areeb-his age 10-Total Marks 85.5-this is all True

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [7]:
# type your code here
print("Hi Areeb", end=" ")
print(10, end=" ")
print(555.5, end=" ")
print(True)

Hi Areeb 10 555.5 True

 4) Can a python print function take no value to print???

In [ ]:
# type your answer here
object can be none, one, or many data values to be printed, and it can be of any data type. Objects get converted to a string before printing

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [9]:
#type your code here
My_Friend_Name = "Mr. Ahmed"
His_Age = 30
Profession = "Lawyer"
Qualification = " Bachelors in Law"
graduation_year = 2005
law_firm_name = "The Himalya Associates"
firm_city = "Karachi"
firm_joining_year = 2015
height_in_ft = 5.10
weight_in_g = 70600
salary_in_pkr = 200000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [10]:
#type your code here 
current_year = 2022
total_years = current_year - graduation_year
total_years

17

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [12]:
#type your code here 
Total_working_Experience = current_year - firm_joining_year
print(f"He has been woring for last {Total_working_Experience} years, wth the law firm The Himalya Asscociates!")

He has been woring for last 7 years, wth the law firm The Himalya Asscociates!

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [13]:
#type your code here 
Salary_Cerversion = salary_in_pkr/221
print(f"Monthly Income of Mr, Ahmed in Dollars is {Salary_Cerversion}$")

Monthly Income of Mr, Ahmed in Dollars is 904.9773755656108$

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [14]:
#type your code here 
Salary_Cerversion = int(salary_in_pkr/221)
print(f"Monthly Income of Mr, Ahmed in Dollars is {Salary_Cerversion}$")

Monthly Income of Mr, Ahmed in Dollars is 904$

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [15]:
#type your code here 
Weight_Conversion = int(weight_in_g/1000)
print(f" Mr.Ahmed weight is {Weight_Conversion}Kg")

 Mr.Ahmed weight is 70Kg

11) print the year of birth of Mr. Ahmed.

In [17]:
#type your code here
Year_of_Brith = int(current_year-His_Age)
print(f"Mr. Ahmed Brith Year is {Year_of_Brith}")

Mr. Ahmed Brith Year is 1992

12) Can Rs. 100 be divided equally among 6 students? 
HINT: % operator

In [19]:
#type your code here 
Modulo_Remainder = 100 % 6 
print(f"it cannot, remainder will be {Modulo_Remainder}")

it cannot, remainder will be 4